.avatar {
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

.childObjectives {
    padding-left: 40px;
}

.childObjectives > div{
    font-size: 14px;
}

.verticalLine {
   width: 1px;
   height: 10px;
  }

.parentObjective > div:first-child{
    background: #13ce95;
    border: 1px solid #1779ba;
}


.parentObjective > div:first-child:hover{
    background: #00f5ab;
    border: 1px solid #1779ba;
}